

<div class="jumbotron">
	<h1>Тестовое задание</h1>
</div>
<p>Выполнил: Фетисов Денис Ильич, студент 3 курса МИФИ, группы Б23-605</p>
<h2>Инструкция</h2>
<h5>Верхняя панель</h5>
<p>
	<b>Home</b> - эта страница.<br />
	<b>Documents</b> - страница, содержащая список документов (таблица Documents).<br />
	<b>Error log</b> - страница, содержащая список ошибок (таблица ErrorLogs).
</p>
<h5>Страница Documents</h5>
<p>
	Список документов - таблица документов в базе данных. В верху находится кнопка "create new". Каждый документ можно редактировать или удалить.<br />
	Кнопка Details открвывает страницу, где отображаются все поля данного документа и таблица спецификаций, относящихся к этому документу. 
	Здесь можно создавать/редактировать/удалять спецификации. Поле Value документа при этом пересчитывается, чтобы соответствовать сумме полей Value всех всязанных спецификаций.<br />
</p>
<p>
	Если при создании/редактировании документу будет дано значение Number, которое уже встречается в таблице, то операция не будет совершена, а сообщене об ошибке будет показано пользователю и занесено в таблицу ErrorLogs.
</p>
<div class="row">


	<div class="row">
		<h2>Описание задания</h2>
		<p>
			Разработать приложение, имеющее в своем составе Master-Detail таблицы. На форме имеются 2 таблицы.<br />
			<b>Master</b> - список документов с полями: номер, дата, сумма, примечание.<br />
			<b>Detail</b>  - список спецификаций с полями: наименование, сумма.<br />
			Классическая связка один ко многим. Требуется реализовать добавление/редактирование/удаление документа и его спецификации (набора позиций).
			При этом сумма документа не редактируется, а пересчитывается на основе спецификаций.
		</p>
		<h5>Дополнительно:</h5>
		<p>
			Реализовать проверку уникальности значения номера документа и/или спецификации на уровне транзакции,
			с выдачей сообщения пользователю и с логированием ошибки в отдельную таблицу БД (в отдельной транзакции).
		</p>
		<h5>Стэк:</h5>
		<p>
			Языки программирования и библиотеки могут использоваться любые. В качестве базы данных
			может быть использована любая реляционная СУБД. Вместе с проектом должна быть предоставлена
			инструкция по сборке и запуску (какая СУБД, как развернуть базу и т.д.)
		</p>

	</div>
</div>